# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Environment variables
.env
.env.*

# Node
node_modules/
npm-debug.log*

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Temporary
*.tmp
*.temp
